* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.head {

    /* border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem; */
    display: flex;
    justify-content: flex-start;
    background: #025464;
    width: 100%;
    height: 5rem;
}

.menu {
    margin-top: 1.25rem;
    margin-left: 2rem;
    size: 2.5rem;



}

.material-symbols-outlined {
    color: white;
    font-size: 2rem;


}

.portfolio {
    margin-top: 0.75rem;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    margin-left: 3.5rem;

}

.abt {
    margin-top: 1.7rem;
    margin-left: 48rem;
}

.home {
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
}

.projrect {
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
}

.pro {
    margin-top: 1.7rem;
    margin-left: 4.5rem;

}

.img1 {
    box-shadow: 0.5rem 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.2);
    width: 30rem;
    margin-left: 7.5rem;
}

.start1 {
    display: flex;
    background: rgb(236, 234, 216);
}

.introduction1 {
    margin-top: 3rem;
    text-align: center;
    font-size: 2.5rem;

}

.intro1 {
    box-shadow: 0.5rem 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.2);
    margin-left: 20rem;
    background:khaki;
    width: 20rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-right: 10rem;
    border-radius: 2rem;
}

.intro2 {
    text-align: center;
    background: #ECF8F9;
    padding: 2.5rem;

}

.head2 {
    padding-top: 1rem;
    font-size: 2rem;
    padding-bottom: 1rem;

}

.myimg {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;

}

.aboutcontainer {
    box-shadow: 0.5rem 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.2);
    margin-top: 1.5rem;
    padding: 1rem;
    margin-left: 30rem;
    text-align: justify;
    border-radius: 1rem;
    width: 30rem;
    background-color: khaki;

}

.disc {
    font-family: 'Times New Roman';
    font-size: 1.7rem;
}

.tech {
    background: rgb(236, 234, 216);
    ;
}

.tech {
    padding: 2rem;
}

.teachead {
    margin-left: 34rem;
    padding-top: 0.5rem;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.python,
.DSA,
.HTML,
.css,
.GitHub,
.js {
    box-shadow: 0.5rem 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;

    width: 12rem;

    background: khaki;
}

.python:hover,
.DSA:hover,
.HTML:hover,
.css:hover,
.GitHub:hover,
.js:hover
.aboutcontainer:hover {
    box-shadow: 1.7px 1.7px 2.5px 1.7px rgba(0, 0, 0, 0.2);
}

.pyimg,
.dimg,
.himg,
.Cimg,
.gimg,
.jsimg {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 12rem;
}

.card1,
.card2 {
    /* box-shadow: 1rem 1rem 2rem 1rem rgba(0, 0, 0, 0.2); */
    border-radius: 0.7rem;
    margin-top: 2rem;
    margin-right: 12rem;
    display: flex;
    gap: 12rem;
    margin-left: 15rem;


}

.pydis,
.ddis,
.hdis,
.cdis,
.gdis,
.jsdis {
    font-size: 1rem;
    padding: 0.7rem;
    justify-content: center;

}

.pyhead,
.chead,
.dhead,
.hhead,
.ghead,
.jshead {
    font-size: 1.6rem;
    text-decoration: underline;
}

.pro2 {
    padding: 1rem;
    background: #ECF8F9;
}

.proimg {
    box-shadow: 0.5rem 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    width: 15rem;
}

.proflex {
    display: flex;
    justify-content: space-around;
}

.prohead {
    margin-left: 43rem;
    font-size: 2.25rem;
    margin-top: 1rem;

}

.prodis {
    margin-left: 15rem;
    font-size: 1.5rem;
    margin-top: 2rem;
}

.button {
    background-color: #025464;
    color: white;
    margin-left: 18rem;
    margin-top: 2rem;
    padding: 0.7rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 0.5rem;
}

.button:hover {
    background-color: #A0C49D;
    color: #000;
}

.buttonclick {
    text-decoration: none;
    color: white;
}

.foot {
    padding: 1rem;
    background: #025464;
    color: white;
}

.footgit,
.footlink,
.footinsta {
    width: 2rem;
    height: 2rem;
    justify-self: center;
    border-radius: 50%;
}

.footer {
    margin-top: 1.75rem;
    font-size: 1.4rem;
    gap: 5rem;
    display: flex;
    justify-content: center;
}

.foothead {
    margin-left: 40rem;
    font-size: 1.30rem;
    justify-content: center;
}
