*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.head{

    /* border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem; */
    display: flex;
    justify-content:flex-start;
    background:#025464;
    width: 100%;
    height: 5rem;
}
.menu{ margin-top: 1.45rem;
    margin-left: 2rem;
    size: 2.5rem;



}
.material-symbols-outlined{
    color: white;
    font-size: 2rem;
    
    
}
.portfolio{
    margin-top: 0.7rem;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3rem;
    margin-left: 3.5rem;

}
.abt{
    margin-top: 1.7rem;
    margin-left: 48rem;
}
.home{
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
}
.projrect{
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
}
.pro{
    margin-top: 1.7rem;
    margin-left: 4.5rem;
}
.line{
    justify-content: center;
    background-color:#ECF8F9;
    padding: 3rem;

}

.line1{
    font-size: 3rem;
    margin-left: 25rem;
}
.line1img{
    margin-top: 2rem;
    border-radius: 2rem;
    margin-left: 30rem;
    width: 30rem;
}
.foot{
    padding: 1.5rem;
    background:#025464;
    color: white;
}
.footgit,.footlink,.footinsta{
    width: 2.5rem;
    height: 2.5rem;
    justify-self: center;
    border-radius: 50%;
}
.footer{
    margin-top: 1.75rem;
    font-size: 1.4rem;
    gap: 5rem;
    display: flex;
    justify-content: center;
}
.foothead{
    margin-left: 37rem;
    font-size: 1.35rem;
    justify-content: center;
}